<div id='diceforge'>
	<div id='izq'>
		<div id='s1' class='carta'></div>
		<div id='s2' class='carta'></div>
		<div id='s3' class='carta'></div>
		<div id='s4' class='carta'></div>
		<div id='s5' class='carta'></div>
		<div id='s6' class='carta'></div>
		<div id='h4' class='carta hibrida hibrida4'></div>
		<div id='h3' class='carta hibrida hibrida3'></div>
		<div id='h2' class='carta hibrida hibrida2'></div>
		<div id='h' class='carta hibrida'></div>
		<div id='s7' class='carta izq'></div>
		<div id='l7' class='carta der'></div>
	</div>
	<div id='centro'></div>
	<div id='der'>
		<div id='l1' class='carta'></div>
		<div id='l2' class='carta'></div>
		<div id='l3' class='carta'></div>
		<div id='l4' class='carta'></div>
		<div id='l5' class='carta'></div>
		<div id='l6' class='carta'></div>
	</div>
	<div id='orden'></div>
</div>
<script type="text/javascript">
	botonNavegacion($('#diceforge'),'','fa fa-arrow-left','diceForge/index.html','btn-propio btn-atras');
</script>