<div class='diceForge'>
	<div id='divExpansiones' class='modulo'>
	</div>
	<div id='divPromos' class='modulo'>
	</div>
	<div id='divJugadores' class='modulo'>
	</div>
</div>

<script type="text/javascript">
	campoRadio($('#divExpansiones'),'Expansiones','expansiones','Ninguna',['Ninguna','El laberinto de la Diosa','La rebelión de los Titanes'],['Ninguna','Diosa','Titan'],'SI');
	$('#divPromos').append('PROMOS<br/>');
	var nombres=['Ninfa','Mago gaviota','Harpias','Quimera','Madre de monstruos','Pegaso','Ruleta de la fortuna','Diosa sombra'];
	var valores=['Ninfa','Mago','Harpias','Quimera','Madre','Pegaso','Ruleta','Diosasombra'];
	for(var i=0;i<nombres.length;i++){
		campoCheckIndividual($('#divPromos'),nombres[i],'check'+valores[i],valores[i],'checkPromos');
	}
	campoSelect($('#divJugadores'),'Jugadores','jugadores',[2,3,4],[2,3,4],'selectpicker span1 show-tick',"",'NO');
	$('#divJugadores').append('COLORES<br/>');
	var valores=['Azul','Verde','Negro','Naranja'];
	for(var i=0;i<valores.length;i++){
		campoCheckIndividual($('#divJugadores'),'<div></div>','check'+valores[i],valores[i],'checkColores');
	}
	botonNavegacion($('.diceForge'),'Crear partida','','diceForge/tablero.html','btn-propio');
</script>