/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    height: 100vh;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

header#topbar{
    width:100%;
    background:#428bca;
    position:relative;
    display: grid;
    grid-template-columns: 70% 30%;
}

header#topbar #menu{
    padding:10px;
}

header#topbar #menu i{
    color:#FFF;
    font-size:20px;
}

header#topbar #logo{
    text-align:right;
    padding:10px;
    width:50px;
}

header#topbar #logo img{
    width:100%;
    max-width: 100px;
}

section#content{
    width:100%;
    height:100%;
}

section#content > div{
    padding-top:20px;
    height: 100%;
}

.itemNavigation,#botonMenu{
    cursor:pointer;
    outline: none;
}

.hide{
    display:none;
}

button{
    border-radius:20px;
    padding:10px;
    margin:10px;
}

input{
    border-radius:3px;
    padding:11px 15px 10px 15px;
    box-shadow:none;
    margin:5px 0px;
    color:#8e8d8d;
    border:1px solid #cccccc;
}

button{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:#FFF;
    background-color:#428bca;
    border-color:#075598;
    padding:6px 12px;
    font-weight: 400;
    text-align: center;
    cursor:pointer;
    border-radius:4px;
}

.shortcut{
    width: 45%;
    height: 15%;
    display: inline-block;
    margin: 0 .9% 1em;
    vertical-align: top;
    text-decoration: none;
    background: transparent;
    border:0px;
    color:#000;
    font-size:10px;
}

.shortcut img{
    height:100%;
}

.shortcut i{
    font-size:16px;
}

.shortcut.a3{
    width:30%;
}

.ulMenu{
    list-style-type: none;
    margin-left:0px;
    display:none;
}

.buttonLi{
    background: transparent;
    text-decoration: none;
    color:#FFF;
    border:0px;
    padding-left:0px;
    font-size:12px;
}

.buttonLi i{
    font-size: 14px !important;
    margin-right: 5px;
}

.btn-propio{
    border-radius:50%;
    height:74px;
    width:75.5px;
    padding:5px;
    text-align: center;
    font-size:14px;
}

.btn-propio i{
    font-size:20px;
}

.btn-propio.btn-atras{
    height:54px;
    width:55.5px;
}

.diceForge{
    width:100%;
    background: #EADDCD;
}

.diceForge .modulo{
    background: #EADDCD;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    float:left;
    margin: 10px;
    padding:10px;
    border-radius:15px;
}

.diceForge #divJugadores label div,#diceforge #orden div{
    width:20px;
    height:20px;
}

#diceforge #orden{
    float: left;
    width: 100%;
    margin-top: 80px;
}

#diceforge #orden div{
    float: right;
}

#diceforge #orden div#texto{
    width:auto;
    margin-right: 5px;
}

.diceForge #divJugadores label:nth-child(3) div, #diceforge #orden div.Azul{
    background:#0076B4;
}

.diceForge #divJugadores label:nth-child(5) div, #diceforge #orden div.Verde{
    background:#65A302;
}

.diceForge #divJugadores label:nth-child(7) div, #diceforge #orden div.Negro{
    background:#000000;
}

.diceForge #divJugadores label:nth-child(9) div, #diceforge #orden div.Naranja{
    background:#E26508;
}

#diceforge{
    background: #EADDCD;
    padding:5%;
}

#diceforge #izq{
    width:30%;
    margin-right:-5%;;
    float:left;
    position: relative;
}

#diceforge #der{
    width:30%;
    margin-left:-5%;
    float:left;
}

#diceforge #centro{
    width:50%;
    background:#87CEEA;
    float:left;
    height:320px;
    border-radius: 0px 0px 30px 30px;
}

#diceforge #debajo{
    width:100%;
    float:left;
}

#diceforge #debajo #tablero{
    background:#87CEEA;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    border-radius:0px 0px 50px 50px;
    height:50px;
}

#diceforge .carta{
    width:100%;
    height:36px;
    margin-bottom:10px;
    display:block;
    border-radius:10px;
    font-weight: bold;
    padding:0% 3px;
    font-size: calc(0.4em + 0.4vw);
    vertical-align: middle;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

#diceforge .carta .nombreCarta{
    width:80%;
    float:left;
}

#diceforge .carta .cantidadCarta{
    width:20%;
    float:right;
}

#diceforge #izq .carta{
    background: #F5A151;
}

#diceforge #der .carta{
    background: #999FCD;
}

#diceforge .carta.hibrida{
    position:absolute;
    top:120%;
    left:115%;
    transform: rotate(-90deg);
    background:#4CAB3C !important;
}

#diceforge .carta.hibrida.con2{
    left:125%;
}

#diceforge .carta.hibrida.con3{
    left:130%;
}

#diceforge .carta.hibrida.con4{
    left:143%;
}

#diceforge .carta.hibrida2{
    position:absolute;
    left:108%;
    display:none;
}
#diceforge .carta.hibrida2.con3{
    left:113%;
}
#diceforge .carta.hibrida2.con4{
    left:125%;
}

#diceforge .carta.hibrida3{
    position:absolute;
    left:96%;
    display:none;
}
#diceforge .carta.hibrida3.con4{
    left:107%;
}
#diceforge .carta.hibrida4{
    position:absolute;
    left:90%;
    display:none;
}

#diceforge .carta.izq{
    position:absolute;
    top:115%;
    left:14%;
    transform: rotate(-45deg);
}

#diceforge #izq .carta.der{
    position:absolute;
    top:115%;
    left:221%;
    transform: rotate(45deg);
    background: #999FCD;
}

